.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: auto;
    border: 5px solid black;
    box-sizing: border-box; /* Incluye el borde dentro del ancho y alto */
}